@import '/vendor/eonasdan-bootstrap-datetimepicker/build/css/bootstrap-datetimepicker.min.css';
/* @import '/vendor/bootstrap/build/less/variables.css';
 *//* public/vendor/bootstrap/less/variables.less
 */.addy{
  padding: 0;
}
.caret{
  text-align: right;
}
#photoView{
  max-width: 250px;
  max-height: 175px;
  min-height: 175px;
  margin-bottom: .5em;
}
