@import '/vendor/eonasdan-bootstrap-datetimepicker/build/css/bootstrap-datetimepicker.min.css';
/* @import '/vendor/bootstrap/build/less/variables.css';
 *//* public/vendor/bootstrap/less/variables.less
 */

/* for add single item view */
.addy{
  padding: 0;
}
.caret{
  text-align: right;
}
#photoView{
  max-width: 250px;
  max-height: 175px;
  min-height: 175px;
  margin-bottom: .5em;
}
#newAuction{
  margin-top: 2.4em;
}

/* for item index view */
#itemCard{
  padding: 5px 0 5px 0;
  img{
    max-width: 200px;
    max-height: 125px;
  }
  a{
    color: RGBA(69, 130, 236, 1);
  }
  #amount{
    margin-bottom: .2em;
  }
  #cancel{
    margin-top: .4em;
  }
}
#itemCard:nth-child(even){
  background-color: RGBA(224, 224, 224, .3);
}

/* for single item view */
#showPic{
  max-width: 450px;
  max-height: 320px;
/*   min-width: 450px;
min-height: 320px;
 */
 }
 #details{
   min-height: 200px;
   background-color: RGBA(224, 224, 224, .3);
   margin-top: 1em;
 }
 .btn-warning{
   margin-top: 1em;
 }
/*  .navbar-right{
margin-right: -2px; } */
#tabby{
  margin: 0 .1em;
  background-color: RGBA(224, 224, 224, .5);
  border-radius: .2em;
}
/* .tabCard{
  background-color: RGBA(224, 224, 224, .3);
} */
.jumbotron{
  background-color: RGBA(224, 224, 224, .3);
  padding-top: 10px;
  margin-top: 10px;
}
