.jumbotron
  .container#about
    h1.text-center Christopher Oyler
    h2.text-right Full Stack Web Dev
    br
    h3: a(href='https://twitter.com/chrisoyler' target='blank'): i.fa.fa-twitter &nbsp @chrisoyler
    br
    h3: a(href='https://www.linkedin.com/in/christopheroyler' target='blank'): i.fa.fa-linkedin &nbsp /christopheroyler
    br
    h3: a(href='https://github.com/IAmEddieDean' target='blank'): i.fa.fa-github &nbsp IAmEddieDean
    br
    h3: a(mailTo='christopher.oyler@gmail.com') Christopher.Oyler@gmail.com
    img.img-responsive#me(src='../../assets/me.jpg')
