nav.navbar.navbar-default(ng-controller='NavCtrl')
  .container-fluid
    .navbar-header
      button.navbar-toggle.collapsed(data-toggle="collapse", data-target="#navbar")
        span.sr-only Toggle navigation
        span.icon-bar
        span.icon-bar
        span.icon-bar

      //- img#heph(src='../../assets/hephaestus-png.png')
      //- ul.nav.navbar-nav
      a.navbar-brand(ui-sref='home') AuctionSmith
          
        
    #navbar.collapse.navbar-collapse
      ul.nav.navbar-nav.navbar-right(ng-if='activeUser')
        li: a(ui-sref='dashboard.user'): i.fa.fa.fa-compass &nbsp; Dashboard
        li: a(ui-sref='client.new'): i.fa.fa.fa-compass &nbsp; new client
        li: a(ui-sref='auctions.add'): i.fa.fa.fa-glass &nbsp; Add item
        li: a(ui-sref='auctions.list'): i.fa.fa.fa-info &nbsp; Auctions
        li: a(ng-click='logout()'): i.fa.fa-sign-out &nbsp; {{activeUser.firstName + ' ' + activeUser.lastName}}
      ul.nav.navbar-nav.navbar-right(ng-if='!activeUser')
        li: a(ui-sref='client.new'): i.fa.fa.fa-compass &nbsp; new client
        li: a(ui-sref='auctions.list'): i.fa.fa.fa-info &nbsp; Auctions
        li: a(ui-sref='register'): i.fa.fa-user-plus &nbsp; Register
        li: a(ui-sref='login'): i.fa.fa-key &nbsp; Login
