
h3 Admin Dashboard
.row
  .col-xs-12.col-md-8#bids
    h5.text-center Mission Control
    .col-xs-12.col-sm-6.col-md-4
      .thumbnail
        .caption
          h5: a(ui-sref='client.list') Client List
          h5: a(ui-sref='client.new') Add Client
          h5 Prospects List
    .col-xs-12.col-sm-6.col-md-4
      .thumbnail
        .caption
          h5: a(ui-sref='auctions.list') Current Auction List
          h5: a(ui-sref='auctions.new') Post New Item
          h5 Past Auction List
    .col-xs-12.col-sm-6.col-md-4
      .thumbnail
        .caption
          h5 Financial Reports
          h5 Unpaid Invoices
          h5 Completed Invoices
    .col-xs-12.col-sm-6
      .thumbnail
        .caption
          h5 Bidder's List
          h5: a(ui-sref='register') Add a user
          //- h5 TBD
    .col-xs-12.col-sm-6
      .thumbnail
        .caption
          h5 User's Waiting for Permissions
          h5 Banned Users
          //- h5 TBD

  .col-xs-12.col-md-3.col-md-offset-1#admininvoices
    h5.text-center Open invoices
    .row
      .col-xs-12
        h5.text-center: small Clyde Marl - 5/24 - Fanny Fire Sale - $125.20
        button.btn.btn-xs.btn-warning.btn-block.text-center(ng-click='sendReminder(user)') Send Reminder
  .col-xs-12.col-md-3.col-md-offset-9#admininfo
    h5.text-center Your Information
    .row
      .col-xs-12
        h5 {{activeUser.firstName + ' ' + activeUser.lastName | uppercase}}
        br
        p {{activeUser.email}}
        p {{activeUser.phone}}
        p {{activeUser.address.street}}
        p {{activeUser.address.city + ', ' + activeUser.address.state + ' ' + activeUser.address.zip}}  
        button.btn.btn-xs.btn-warning.text-center(ui-sref='register'): i.fa.fa-pencil &nbsp Edit
    //- .row
    //-   .col-xs-12.col-md-8#recent
    //-     h5.text-center Recently Viewed
    //-     .col-xs-12.col-sm-6.col-md-4(ng-repeat='item in viewed')
    //-       .thumbnail
    //-         img.img-responsive(src='http://placehold.it/210x125', ng-if='!item.photo')
    //-         img.img-responsive(base-sixty-four-image='item.photo')
    //-         .caption(ng-if='!item.confirm')
    //-           h4 {{item.title | limitTo: 18}}
    //-             span(ng-if='item.title.length > 18') ...
    //-           h5 Current Bid:
    //-             small {{item.currentPrice | currency}}
    //-           h5: small Time Remaining: {{item.endTime | date: medium}}
    //-           a.btn.btn-success.btn-xs.btn-block(ng-click='bidConfirm(item, true)' ng-if='!item.confirm') Bid Now!
    //- 
    //-         .caption(ng-if='item.confirm')
    //-           .col-xs-12
    //-             .row
    //-               .col-xs-12
    //-                 label(for='amount') Enter bid amount.
    //-                 small Current Bid:
    //-                   small {{item.currentPrice | currency}}
    //-             .row
    //-               .col-xs-12
    //-                 input.form-control#amount(type='number', name='amount', ng-model='item.bid', placeholder='{{item.currentPrice * 1.1 | currency}}', min='{{item.currentPrice * 1.05}}')
    //-           a.btn.btn-success.btn-xs.btn-block(ng-click='bidConfirm(item, true)' ng-if='!item.confirm') Bid Now!
    //-           .row(ng-if='item.confirm')
    //-             .col-xs-12#bidBut
    //-               .col-xs-3
    //-                 a.btn.btn-danger.btn-xs.btn-block(ng-click='bidConfirm(item, false)'): i.fa.fa-remove
    //-               .col-xs-9
    //-                 a.btn.btn-success.btn-xs.btn-block(ng-click='bid(item)') Submit Bid
