h3.text-center New User Registration
br
br
.row
  .col-xs-12.col-sm-6.col-md-6.col-lg-4.col-lg-offset-2
    form(name='userForm', novalidate)
      .form-group
        label(for='firstName') First Name
        input.form-control#email(type='text', name='firstName', ng-model='user.firstName')
  .col-xs-12.col-sm-6.col-md-6.col-lg-4.col-lg-offset-2
      .form-group
        label(for='lastName') Last Name
        input.form-control#email(type='text', name='lastName', ng-model='user.lastName')
  .col-xs-12.col-sm-6.col-md-6.col-lg-4.col-lg-offset-2
      .form-group
        label(for='email') Email
        input.form-control#email(type='email', name='email', ng-model='user.email')
      .form-group
        label(for='password1') Password
        input.form-control#password(type='password', name='password1', ng-model='user.password1')
      .form-group
        label(for='password2') Verify Password
        input.form-control#password(type='password', name='password2', ng-model='user.password2')
  .col-xs-12.col-sm-6.col-md-6.col-lg-4
      .form-group
        label(for='phone') Phone Number
        input.form-control(type='tel', name='phone', ng-model='user.phone')
      .form-group
        label(for='street') Street Address
        input.form-control(type='text', name='street', ng-model='user.address.street')
      .col-xs-12.col-md-6.addy
        .form-group
          label(for='city') City
          input.form-control(type='text', name='city', ng-model='user.address.city')
      .col-xs-12.col-md-3
        .form-group
          label(for='state') State
          select.form-control#states(ng-options='state as state for state in states', ng-model='user.address.state')
            option
      .col-xs-12.col-md-3.addy
        .form-group
          label(for='zip') Zip Code
          input.form-control(type='number', name='zip', ng-model='user.address.zip')
  .col-xs-12.col-lg-8.col-lg-offset-2
    .form-group
        button.btn.btn-success.btn-block(ng-click='register(user)') Register
      
