script(type='text/javascript').
  $(document).ready(function(){
  $("#myTab a").click(function(e){
  e.preventDefault();
  $(this).tab('show');
  });
  });
#exampleModal.modal.fade(tabindex='-1', role='dialog', aria-labelledby='exampleModalLabel', aria-hidden='true')
  .modal-dialog
    .modal-content
      .modal-header
        button.close(type='button', data-dismiss='modal', aria-label='Close')
          span(aria-hidden='true') ×
        h4#exampleModalLabel.modal-title New Question
      .modal-body
        form
          .form-group
            label.control-label(for='recipient-name') Your Email:
            input#recipient-name.form-control(type='email' ng-model='question.email')
          .form-group
            label.control-label(for='message-text') Question:
            textarea#message-text.form-control(ng-model='question.text')
      .modal-footer
        button.btn.btn-default(type='button', data-dismiss='modal') Close
        button.btn.btn-primary(type='button' ng-click='send(question)') Send message
.col-xs-12#itemshow
  h2.text-center {{item.title}}
  .row
    .col-xs-12.col-md-5.col-md-offset-1#showPic
      img#showPic.img-responsive(base-sixty-four-image='item.photo')
    .col-xs-12.col-md-4.col-md-offset-1
      h4 Current Price: &nbsp&nbsp&nbsp&nbsp
        span: strong {{item.currentPrice | currency}}
      h4 Bid Count: {{item.bids.length}}
      h4 High Bidder ID: {{item.bids[0].userId | limitTo: 5}}
      h4 Ending In: 
      .col-xs-12#timer: timer(end-time='item.endTime')
        .col-xs-3
          span: strong {{days}}
          br
          small Days
        .col-xs-3
          span: strong {{hours}}
          br
          small Hours
        .col-xs-3
          span: strong {{minutes}}
          br
          small Mins
        .col-xs-3
          span: strong {{seconds}}
          br
          small Sec
      //- .col-xs-12.col-lg-6
      //-   h5 Preview Day: {{item.preview}}
      //-   h5 Pickup Day: {{item.pickup}}
      //-   h5 Shipping Info: {{item.shipping}}
        
        
    .col-xs-12.col-sm-6.col-sm-offset-6.col-md-4.col-md-offset-0(ng-if='confirm')
      .row
        .col-xs-12
          label(for='amount') Enter bid amount.
      .row
        .col-xs-12
          input.form-control#amount(type='number', name='amount', ng-model='item.bid', placeholder='{{item.currentPrice * 1.1 | currency}}', min='{{item.currentPrice * 1.05}}')
        .col-xs-2
          button.btn.btn-xs.btn-danger.pull-right#cancel(ng-click='bidConfirm(false)'): i.fa.fa-times
    .col-xs-4.col-sm-6.col-sm-offset-6.col-md-4.col-md-offset-4.col-lg-offset-3(ng-if='confirm')
    .col-xs-6.col-xs-offset-6(ng-if='!confirm')
      button.btn.btn-block.btn-xs.btn-success(ng-click='bidConfirm(true)') BID NOW!
    .col-xs-6.col-xs-offset-6(ng-if='confirm')
      button.btn.btn-block.btn-xs.btn-success(ng-click='bid(item)') SUBMIT BID!
      
      
      
      
      
        
        
        
        
        
      .col-xs-12
        //- button.btn.btn-block.btn-xs.btn-success(ng-click='bidConfirm(item)') BID NOW!
    .col-xs-12
      .col-xs-3(ng-if='isAdmin')
        button.btn.btn-xs.btn-warning: i.fa.fa-pencil
      .col-xs-3.col-xs-offset-9
        br
        button.btn.btn-xs.btn-primary.pull-right(data-toggle='modal', data-target='#exampleModal') Ask a Question
  .col-xs-12#details
    ul.nav.nav-tabs.navbar-right#myTab
      li#tabby(role='presentation'): a(data-toggle='tab', href='#desc') Description
      li#tabby(role='presentation'): a(data-toggle='tab', href='#map') Map
      li#tabby(role='presentation'): a(data-toggle='tab', href='#terms') Terms
      //- li#tabby(role='presentation'): a(href='#') Shipping
    .col-xs-12.tab-content
      .col-xs-12#desc.tabCard.tab-pane.fade.in.active
        h5#desc {{item.description}}
      .col-xs-12#map.tabCard.tab-pane.fade.in
        h5#map map here
      .col-xs-12#terms.tabCard.tab-pane.fade.in
        h5#terms terms here
        //- .container#details
  //- .jumbotron
